<div class="footer">
	<div class="grey-links">
		<div class="pages">Pages</div>
		<a href ="/show-customers">
			<div class="grey-link">List of Customers</div>
		</a>
		<a href ="/new-customer">
			<div class="grey-link">Add New Customer</div>
		</a>
		<a href ="/new-product">
			<div class="grey-link">Add New Product</div>
		</a>
		<a href ="/show-products">
			<div class="grey-link">List of Products</div>
		</a>
		<a href = "/new-transaction">
			<div class="grey-link">New Transaction</div>
		</a>
		<a href = "/show-transactions">
			<div class="grey-link">List of Transactions</div>
		</a>
	</div>
</div>