<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {{>main}}
    <div class="container">
        <h2>Customer Information</h2>
        <!-- Table of customers data: -->
        <table id="userTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be populated here by JavaScript-->
            </tbody>
        </table>
    </div>
    <script>
        function populateTable(){
            const tableBody = document.querySelector('#userTable tbody');
        
        // fetch customer data from customers table of database
        fetch('http://localhost:8080/customers')
            .then(response => response.json())
            .then(data => {
                data.forEach(item => {
                    const row = document.createElement('tr');

                    row.innerHTML = `
                        <td>${item.id}</td>
                        <td>${item.name}</td>
                        <td>${item.email}</td>
                        <td>${new Date(item.created_at).toLocaleString()}</td>
                    `;

                    tableBody.appendChild(row);
                });
            })
            .catch(error =>{
                console.error('Error fetching data:', error);
            });
        }
        window.onload = populateTable;
    </script>
    {{>footer}}
</body>
</html>